<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <form method="post">
        <label for="name">Enter the name: </label>
        <input type="text" name="name">
        <label for="quantity">Enter the quantity: </label>
        <input type="number" name="quantity">
        <label for="description">Enter the description: </label>
        <input type="text" name="description">
        <label for="availableOrNot">Enter the availability: </label>
        <input type="availability" name="availableOrNot">
        <button type="submit">Submit the product</button>
    </form>

</body>
</html>