<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>welcome bro</h1>
   <center>
    <button><a href="http://localhost:5000/login">Login</a></button>
    <button><a href="http://localhost:5000/signUp">Sign up</a></button>
   </center>
</body>
</html>