<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <form action="/login" method="post">
            <label for="username" >Enter username: </label>
            <input type="text" name="username">
            <label for="password" >password</label>
            <input type="text" name="password">
            <button type="submit">Sign in</button>
            <button type="Sign Up"><a href="http://localhost:5000/signUp" ">Sign up</a></button>
        
    </form>
    
    
</body>
</html>