<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <button type="button"><a href="http://localhost:5000/addProducts">Add Products</a></button>
    <form action="/logout" method="get">
           <h1>THanks for logging in the syatem. Click below to logout or add products!</h1>
            
            <button type="submit">Logout</button>
        
    </form>
    
</body>
</html>